@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.container {
  width: 1140px;
  margin: 0 auto;
}
body {
  margin: 0px;
  background-color: #fff6f9;
}
.buttonprice {
  padding: 10px 20px;
  background-color: #e1f0ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonprice.selected {
  border: 3px solid black;
}
/* .buttonprice.selected {
  background-color: #0056b3;
} */
/* Шапка сайта */
li {
  font-family: "Raleway";
  list-style: none;
  margin-right: 40px;
}
ul {
  display: flex;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  background-color: #efcdd6;
  border-radius: 20px;
  margin-top: 22px;
  margin-bottom: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 20px;
  padding-left: 20px;
}
#Screensertificate {
  background-image: url(./Sertificatepicture/фонсертификаты.png);
  height: 775px;
  display: flex;
}
a {
  color: white;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}
/* Первый блок */
h1 {
  font-family: "Raleway";
  font-size: 64px;
  font-weight: 700;
  color: #ffffff; /* Цвет текста */
  -webkit-text-stroke: 2px #efcdd6; /* Толщина и цвет обводки */
  margin-top: 205px;
  margin-bottom: 0px;
}
.headertexttwo {
  font-family: "Raleway";
  font-size: 42px;
  font-weight: 700;
  color: #ffffff; /* Цвет текста */
  -webkit-text-stroke: 1px #efcdd6; /* Толщина и цвет обводки */
  margin-top: 15px;
  margin-bottom: 40px;
}
.headertext {
  font-family: "Raleway";
  font-size: 35px;
  font-weight: 800;
  color: #ffffff; /* Цвет текста */
  -webkit-text-stroke: 1px #efcdd6; /* Толщина и цвет обводки */
  margin-top: 15px;
  margin-bottom: 35px;
}
.button-sertificat {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 24px;
  padding: 17px 35px;
  text-align: center;
  border-radius: 20px;
  color: #efcdd6;
  background-color: white;
  border-color: #efcdd6;
}
/* <!-- Второй блок сертификатов выбор --> */
#CheckSerificate {
  margin-top: 60px;
  background-color: #ffe8ed;
  height: 440px;
  border-radius: 20px 100px;
  /* margin-bottom: 60px; */
}
.CheckSerificate {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.CheckSerificate div {
  /* margin-left: 20px; */
  margin-right: 20px;
  /* margin-bottom: 60px; */
}
.FirstName {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 5px;
}
.punkts {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.button-zakaz {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 24px;
  padding: 10px 95px;
  text-align: center;
  border-radius: 20px;
  color: #efcdd6;
  background-color: white;
  border-color: #efcdd6;
}
.FirstSertificate {
  /* background-color: #ffe8ed;
  border-radius: 20px 100px;
  height: 400px; */
  margin-top: 40px;
  padding-left: 15%;
  padding-right: 15%;
}
.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-right: 0px;
}
.Heading111 {
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 600;
  color: white;
  background-color: #efcdd6;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  border-color: #efcdd6;
}
.button-container {
  display: flex; /* Используем flexbox для выравнивания кнопок */
  gap: 10px; /* Интервал между кнопками */
  justify-content: center;
}
.buttonprice {
  /* font-family: "Raleway"; */
  font-weight: 500;
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 20px;
  color: #efcdd6;
  background-color: white;
  border-color: #efcdd6;
}
/* 2 ВИДА СЕРТИФИКАТОВ */
.textcols {
  white-space: nowrap;
  font-size: 0;
}
.textcols-item1 {
  white-space: normal;
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin-right: 100px;
  font-size: 14px;
}
.textcols .textcols-item:last-child {
  margin-right: 0;
}
.Glavniyrext {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  margin-bottom: 5px;
}
.punktsVid {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}
.Buttonvid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 60px;
  margin-right: 0px;
}
/* Подвал сайта */
#Podval {
  height: 370px;
  background-color: #efcdd6;
}
.PodvalText {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  color: #fff;
  line-height: 45px;
  margin-top: 60px;
}
.PodvalTextTwo {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  color: #fff;
  line-height: 40px;
  margin-top: 40px;
}
.imgpodval {
  margin-left: 60%;
  margin-bottom: 20px;
  /* margin-top: 20px; */
}
.imgpodval1 {
  margin-top: 60px;
  margin-left: 60%;
  margin-bottom: 20px;
}
.imgpodval3 {
  margin-left: 60%;
  margin-bottom: 17px;
}
.textcols {
  white-space: nowrap;
  font-size: 0;
}
.textcols-item {
  white-space: normal;
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin-right: 65px;
  font-size: 14px;
}
.textcols .textcols-item:last-child {
  margin-right: 0;
}
